<form action="/login" method="POST">
    Email: <input type="email" name="user[email]"><br>

    Password: <input type="password" name="user[password]"><br>

    <input type="submit" value="Login">
</form>