<div style="text-align: right; margin-top: 0px;
      margin-bottom: 100px;
      margin-right: 150px;
      margin-left: 80px;">        
        <form action="/login" method="POST">
  
        <br><br><br>

        <h3 style=" color: #4a5e6c; margin-right: 275px;" >Login:</h3><br>
            Email: <input type="email" name="user[email]"><br>

            Password: <input type="password" name="user[password]"><br><br>

            <input type="submit" class="btn btn-outline-dark" style='text-decoration:none; color: #bf764c;' value="Login">
        </form>
</div>
