<form method="POST" action="/investors/<%=@investor.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch" />

  <label for="investor">Investor's Name</label>
  <input type="text" id="investor" name="investor" value="<%=@investor.name%>" />

  <label for="location">Location:</label>
  <input type="text" id="location" name="location" value="<%=@investor.location%>" />

  <input type="submit" value="submit" />
</form>