<ul>
  <% @investors.each do |investor|%>  
    <li>
      <a href="/investors/<%= investor.id %>">Name: <%= investor.name %></a>
      Name: <%= investor.name %>
      Building's Owned: <%= investor.buildings_owned %>
    </li>
  <% end %>
</ul>