<form action="/investors" method="POST">
  
  <label for="name">Investor's Name:</label>
  <input type="text" name="investor[name]"><br>

  <label for="buildings_owned">Building's Owned:</label>
  <input type="text" name="investor[buildings_owned]"><br>

  <input type="submit" value="Create">
</form>