<h1> Welcome to Investor Rental Property</h1>
<p>This is the place where investors track all their rentals.<br> Need to know when your next rental is available? Or just want <br> to build your portfolio? This is the place for you! </p>
               