<ul>
  <% @income.each do |amount|%>  
    <li>
      <a href="/income/<%= income.id %>">Yearly_Income: <%= income.yearly_income %></a>
      Yearly Income: <%= income.yearly_income %>
    </li>
  <% end %>
</ul>