Yearly Income: $ <%= @income.yearly_income %>

<form action="/income/<%= @income.id %>" method="POST" >
  <input type="hidden" name="_method" value="DELETE" />
  
  <input type="submit" value="Delete" />
</form>